table.specs {
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    width: 95vw;

    background-color: rgba(0, 0, 0, 0.5);
    border: solid #023e8a;
    border-radius: 20px;
}
#heading {
    padding: 20px;
    font-size: 2.8vw;
    font-family: "machinen", "jerseym54", "Geneva", "Roboto", "Helvetica", "Arial", "Microsoft JhengHei", sans-serif;
    font-weight: 1400;
    text-align: justify;
    color: #f5ba00;
}

#content {
    padding: 20px;
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
    color: 3eb7dc;
    font-weight: 600;
}

table.specs img{
    width: 25vw;
}